<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Add Category</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/categorylist">Category List</a>
      </nav>
    </header>
    <main>
      <form th:object="${category}" th:action="@{savecategory}" action="#" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" th:field="*{name}" />
        <input type="submit" value="Save" class="btn btn-success" />
      </form>
    </main>
    <script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
  </body>
</html>