<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
  <title>Book List</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
  <header>
    <nav>
      <a href="/">Home</a>
    </nav>
  </header>
  <main>
    <div class="container">
      <div class="col-md-4">
        <h3><span sec:authentication="name"></span></h3>
      </div>
      <div class="col-md-4" style="padding:5px 0">
        <form th:action="@{/logout}" method="post">
          <input type="submit" value="Sign Out" class="btn btn-sm btn-danger" />
        </form>
      </div>
      <div class="col-md-4">
        <h1>Books</h1>
      </div>
      <table class="table table-striped">
        <tr>
          <th style="text-align: left;">Author</th>
          <th style="text-align: left;">Title</th>
          <th style="text-align: left;">ISBN</th>
          <th style="text-align: left;">Published</th>
          <th style="text-align: left;">Category</th>
          <th></th>
          <th sec:authorize="hasAuthority('ADMIN')"></th>
        </tr>
        <tr th:each="book : ${books}">
          <td style="padding-right: 15px;" th:text="${book.author}">Author</td>
          <td style="padding-right: 15px;" th:text="${book.title}">Title</td>
          <td style="padding-right: 15px;" th:text="${book.isbn}">ISBN</td>
          <td style="padding-right: 15px;" th:text="${book.publicationYear != 0} ? ${book.publicationYear}">Published
          </td>
          <td style="padding-right: 15px;" th:text="${book.category != null} ? ${book.category.name} : ''">Category</td>
          <td style="padding-left: 15px;"><a th:href="@{/edit/{id}(id=${book.id})}" class="btn btn-secondary">Edit</a>
          </td>
          <td style="padding-left: 15px;" sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${book.id})}" class="btn btn-danger">Delete</a>
          </td>
        </tr>
      </table>
      <a href="/add" class="btn btn-success">Add Book</a>
    </div>
  </main>
  <script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>