<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
  <head>
    <title>Category List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
      </nav>
    </header>
    <main>
      <h1>Categories</h1>
      <table class="table table-striped">
        <tr>
          <th style="text-align: left;">Name</th>
        </tr>
        <tr th:each="category : ${categories}">
          <td style="padding-right: 15px;" th:text="${category.name}">Name</td>
        </tr>
      </table>
      <a href="/addcategory" class="btn btn-success">Add Category</a>
    </main>
    <script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
  </body>
</html>