<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <title>Edit Book</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/booklist">Book List</a>
    </nav>
  </header>
  <main>
    <h2>Edit Book</h2>
    <form action="#" th:object="${updatedBook}" method="post" th:action="@{/update/{id}(id=${updatedBook.id})}">
      <label for="author">Author:</label>
      <input type="text" id="author" name="author" th:field="*{author}" />
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" th:field="*{title}" />
      <label for="isbn">ISBN:</label>
      <input type="text" id="isbn" name="isbn" th:field="*{isbn}" />
      <label for="publicationYear">Published:</label>
      <input type="text" id="publicationYear" name="publicationYear" th:field="*{publicationYear}" />
      <input type="submit" value="Save" class="btn btn-success"/> 
    </form>
  </main>
  <script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>