<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <title>Book Store</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/booklist">Book List</a>
      <a href="/categorylist">Category List</a>
    </nav>
  </header>
  <main>
    <h1>Book Store</h1>
  </main>
</body>
</html>